<div class="wrapper">
	<!--header-->
	<div class="p_f t0 l0 w_b100 back_fff z100">
		<div class="box_center h45 pr10 pl10 w_b100 bor_b">
			<div class="grid_cell box_start">
				<div class=" w22 h28" ></div>
			</div>
			<div class="f16 grid_cell box_center">支付成功</div>
			<div class="grid_cell box_end">
				<div class=""></div>
			</div>
		</div>
	</div>
	<!-- content -->
	<div class="pt45">
		<div class="p10">
			<div class="h50"></div>
			<div class="h100 w100 m0a"></div>
			<div class="t_c">恭喜您，支付成功了呦~</div>
			<div class="mt30 box_center">
				<a href="#/mall">
					<div class="box_center w100 h30 f14 col_red br15 borCol_red">返回首页</div>
				</a>
				<div class="ml40 box_center w100 h30 f14 col_fff br15 back_red" ng-click="orderTypeClick('wait_send')">查看订单</div>
			</div>
		</div>
	</div>
</div>