<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=0" />
		<title>商品分享</title>
		<link rel="stylesheet" href="__PUBLIC__/share/css/reset.css" />
		<link rel="stylesheet" href="__PUBLIC__/share/css/commodity.css" />
	</head>
	<body>
		<div class="banner">
			<img src="{$info.goods_img}"/>
			<div class="head">
				<div class="m-head">
					<div class="head-left">品聚轻奢</div>
					<div class="head-right">
						<a href="#" onclick="openApp();">用App打开</a>
					</div>
				</div>
			</div>
			
		</div>
		<div class="details">
			<div class="mdetails">
				<div class="price">￥{$info.goods_now_price}~{$info.goods_origin_price}</div>
				<div class="name">{$info.goods_name}</div>
				<div class="tishi">付款15天后发货</div>
			</div>
		</div>

		<div class="ts">假一赔十&nbsp;&nbsp;&nbsp;&nbsp;正品保证&nbsp;&nbsp;&nbsp;&nbsp;售后无忧</div>
		
		<div class="mall">
	    	<div class="mmall" onclick="openApp();">
	     		<img src="{$info.merchants_img}"/>
	     		<div class="mallright">
	      			<p class="mallname">{$info.merchants_name}</p >
	      			<p class="malladdress">{$info.merchants_province}{$info.merchants_city}</p >
	     		</div>
	    	</div>
	    </div>

		<div class="evaluate-head">
			<div class="ehead-left">评价<span>({$info.comments})</span></div>
			<div class="ehead-right" onclick="openApp();">更多>></div>
		</div>
	
		<volist name="comment" id="vo">
			<div class="evaluate-list">
				<div class="el-head">
					<div class="elhead-left">
						<if condition="$vo.pid neq 0 ">
							<div class="elname">{$vo.username} @ {$vo.to_name}</div>
						<else />
							<div class="elname">{$vo.username}</div>
						</if>
						
						<ul class="star">
							<switch name="vo.mark">
							    <case value="1">
									<li><img src="__PUBLIC__/share/images/star-true.png"</li>
							    </case>
							    <case value="2">
									<li><img src="__PUBLIC__/share/images/star-true.png"</li>
									<li><img src="__PUBLIC__/share/images/star-true.png"</li>
							    </case>
							    <case value="3">
									<li><img src="__PUBLIC__/share/images/star-true.png"</li>
									<li><img src="__PUBLIC__/share/images/star-true.png"</li>
									<li><img src="__PUBLIC__/share/images/star-true.png"</li>

							    </case>
							    <case value="4">
									<li><img src="__PUBLIC__/share/images/star-true.png"</li>
									<li><img src="__PUBLIC__/share/images/star-true.png"</li>
									<li><img src="__PUBLIC__/share/images/star-true.png"</li>
									<li><img src="__PUBLIC__/share/images/star-true.png"</li>
							    </case>
							    <case value="5">
									<li><img src="__PUBLIC__/share/images/star-true.png"</li>
									<li><img src="__PUBLIC__/share/images/star-true.png"</li>
									<li><img src="__PUBLIC__/share/images/star-true.png"</li>
									<li><img src="__PUBLIC__/share/images/star-true.png"</li>
									<li><img src="__PUBLIC__/share/images/star-true.png"</li>
							    </case>
							    <default />
							</switch>
							
							
						</ul>
					</div>
					<div class="elhead-right">{$vo.create_time}</div>
				</div>
				<div class="evaluate-detalis">{$vo.comment_desc}</div>
			</div>
		</volist>

		
		<div class="spdetails">
			<div class="details-head">——&nbsp;详情&nbsp;——</div>
				
			{$info.goods_detail}

		</div>
		<div style='width: 100%; height: 70px;'></div>
		<div class="foot" onclick="openApp();">
			<ul class="foot-left">
				<li>
					<img src="__PUBLIC__/share/images/icon.png"/>
					<p>店铺</p>
				</li>
				<li>
					<img src="__PUBLIC__/share/images/news.png"/>
					<p>联系客服</p>
				</li>
				<li>
					<img src="__PUBLIC__/share/images/heart.png"/>
					<p>收藏</p>
				</li>
			</ul>
			<div class="foot-mid">加入购物车</div>
			<div class="foot-right">立即购买</div>
		</div>


		<script type="text/javascript" src="__PUBLIC__/share/js/jquery.min.js" ></script>

		<script>
			
		//打开（下载）App

		function openApp(){

			var ua = window.navigator.userAgent.toLowerCase();

			//微信

			if(ua.match(/MicroMessenger/i) == 'micromessenger'){

				// window.location.href='downLoadForPhone';
				alert('点击右上角，在浏览器打开')

			}else{
			//非微信浏览器

				if (navigator.userAgent.match(/(iPhone|iPod|iPad);?/i)) {

				 var loadDateTime = new Date();

				 window.setTimeout(function() {

				 	var timeOutDateTime = new Date();

				 	if (timeOutDateTime - loadDateTime < 5000) {

				 		window.location = "http://itunes.apple.com/cn/app/id1425741783";//ios下载地址

				 	} else {

				 		window.close();

				 	}

				 },2000);

				 window.location = "pinju://tp3shoplive.zhongfeigou.com?type=goods&goodid={$info.goods_id}";

				 }else if (navigator.userAgent.match(/android/i)) {

				 var state = null;

				 try {

				 	window.location = "pinju://tp3shoplive.zhongfeigou.com?type=goods&goodid={$info.goods_id}";

				 	setTimeout(function(){

							window.location= "http://baidu.com"; //android下载地址

						},500);

				 } catch(e) {}

				 }

			}

		}
		</script>
	</body>
</html>
