<div class="wrapper">
	<!--header-->
	<div class="p_f t0 l0 w_b100 back_fff pl10 pr10 z100 bor_b">
		<div class="box_center h44">
			<div class="grid_cell box_start">
				<div class="left_icon w22 h28" ng-click="backFun()"></div>
			</div>
			<div class="f16 grid_cell box_center">设置</div>
			<div class="grid_cell box_end">
				<div class=""></div>
			</div>
		</div>
	</div>
	<div class="pt45">
		<!-- 功能项 -->
		<a href="#/userDetails">
			<div class="mt10 back_fff pl5 pr15 box_between h40 bor_b">
				<div class="box_start">
					<div class="ml10 w20 h20 my_data_icon"></div>
					<div class="ml5">个人资料</div>
				</div>
				<div class="right_icon w25 h25"></div>
			</div>
		</a>
		<a href="#/my_address">
			<div class=" back_fff pl5 pr15 box_between h40">
				<div class="box_start">
					<div class="ml5 w30 h30 address_icon"></div>
					<div class="">地址管理</div>
				</div>
				<div class="right_icon w25 h25"></div>
			</div>
		</a>
		<a href="#/feeback">
			<div class="mt10 back_fff pl5 pr15 box_between h40">
				<div class="box_start">
					<div class="ml10 w20 h20 feeback_icon"></div>
					<div class="ml5">意见反馈</div>
				</div>
				<div class="right_icon w25 h25"></div>
			</div>
		</a>

	</div>

</div>