<include file="Public:header" />

<div class="page-container">
    <div id="big"></div>
    <div id="big2"></div>
    <form class="form form-horizontal" id="form" method="post">
        <div class="row cl" style="padding-left: 320px">
            <span style="font-size: 20px;">账户信息</span>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>开户姓名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" name="realname" class="input-text" value="{$re['realname']?$re['realname']:''}" placeholder="" id="realname" style="width: 50%"/>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>银行卡账号：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" name="bank_card" class="input-text" value="{$re['bank_card']?$re['bank_card']:''}" placeholder="" id="bank_card" style="width: 50%"/>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>开户银行：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" name="bank_name" class="input-text" value="{$re['bank_name']?$re['bank_name']:''}" placeholder="" id="bank_name" style="width: 50%"/>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>开户信息：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" name="message" class="input-text" value="{$re['message']?$re['message']:''}" placeholder="" id="message" style="width: 50%"/>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>联系方式：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" name="phone" class="input-text" value="{$re['phone']?$re['phone']:''}" placeholder="" id="phone" style="width: 50%"/>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>登陆密码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="password" name="pwd" class="input-text" value="{$re['pwd']?$re['pwd']:''}" placeholder="" id="pwd" style="width: 50%"/>
            </div>
        </div>
        <div class="val_icon row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>验证码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" name="verify_code" id="verify_code" placeholder="验证码" maxlength="6" class="login_txtbx input-text" style="width:25%;">
                <button type="button" class="hqcode" style="margin-left:35px;height:30px;width: 110px;cursor: pointer;vertical-align: middle;">获取验证码</button>
            </div>
        </div>  
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button  class="submit btn btn-primary radius"  type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存并提交</button>
                <button onClick="removeIframe();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                <input type="hidden" class="input-text" value="{$re.member_id?$re.member_id:''}" placeholder=""  name="mid">
            </div>
        </div>
    </form>
</div>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
        $(".hqcode").click(function(){
            settime($(this));
        });
        var countdown=60;
        var isajax=0;
        function settime(obj) {
            console.log(countdown);
            check=/^13[0-9]{9}$|14^[0-9]\d{8}|^15[0-9]\d{8}$|^18[0-9]\d{8}|^17[0-9]\d{8}$/;
            if (check.test($("#phone").val())) {
                if (countdown == 0) {
                    obj.removeAttr("disabled");
                    obj.text("重新发送");
                    isajax = 0;
                    countdown = 60;
                    obj.css("background-color",'#50b5a2');
                    return;
                } else {
                    if(countdown<60){
                        countdown--;
                        obj.attr("disabled", true);
                        obj.text("获取验证码(" + countdown + ")");
                        obj.css("background-color",'#a1aba9');
                    }else{
                        console.log(countdown);
                        if (isajax == 0) {
                            $.ajax({
                                url: "{:U('Index/sendSMS')}",
                                method: 'post',
                                dataType: 'json',
                                data: {
                                    mobile: $("#phone").val()
                                },
                                success: function (data) {
                                    if (data['status'] == 'error') {
                                        layer.msg(data.data, {icon: 5, time: 1000});
                                    } else {
                                        obj.attr("disabled", true);
                                        countdown--;
                                        obj.text("获取验证码(" + countdown + ")");
                                        obj.css("background-color", '#a1aba9');
                                        isajax = 1;
                                        console.log(countdown);
                                    }
                                },
                                error: function (data) {
                                    layer.msg('发送失败', {icon: 5, time: 1000});
                                }
                            });
                        }
                    }
                    setTimeout(function () {
                        if(countdown<60) {
                            settime(obj);
                        }
                    }, 1000)
                }
            } else
            {
                layer.msg('手机输入有误',{icon:5,time:1000});
            }
        }

    


</script>
<!--/请在上方写此页面业务相关的脚本-->
<include file="Public:footer" />
