<include file="Public:header" />

<div class="page-container">
    <div id="big"></div>
    <div id="big2"></div>
    <form class="form form-horizontal" id="form" method="post">
        <div class="row cl" style="padding-left: 320px">
            <span style="font-size: 20px;">商户余额提现申请</span>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>商户余额：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" name="get_money" readonly class="input-text" value="{$re['get_money']}" placeholder="" id="get_money" readonly style="width: 50%"/>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>账户姓名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" name="realname" readonly class="input-text" value="{$bank['realname']}" placeholder="" id="realname" readonly style="width: 50%"/>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>提现银行：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" name="bank_name" readonly class="input-text" value="{$bank['bank_name']}" placeholder="" id="bank_name" readonly style="width: 50%"/>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>银行卡号：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" name="bank_card" readonly class="input-text" value="{$bank['bank_card']}" placeholder="" id="bank_card" readonly style="width: 50%"/>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>开户信息：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" name="message" readonly class="input-text" value="{$bank['message']}" placeholder=""  id="message" style="width: 50%"/>
            </div>
        </div>
        <!-- <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>转化比例：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" name="cash_money" readonly class="input-text" value="1:1" placeholder="转化比"  id="cashmoney" style="width: 50%"/>
            </div>
        </div> -->
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>提现余额：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" name="money"  class="input-text" value="" placeholder="" id="money" style="width: 50%"/>
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button  class="submit btn btn-primary radius"  type="submit"><i class="Hui-iconfont">&#xe6b7; </i>余额提现</button>
            </div>
        </div>
    </form>
</div>
<!--/请在上方写此页面业务相关的脚本-->
<include file="Public:footer" />
