<include file="Public:header" />

<div class="page-container">
    <div id="big"></div>
    <div id="big2"></div>
    <form class="form form-horizontal" id="form" method="post">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>优惠卷名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" name="title" class="input-text" value="{$re['title']}" placeholder="" id="title" />
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>优惠卷价值：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="number" name="value" step="0.01" class="input-text" value="{$re['value']}" placeholder="" id="value" />
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>满减金额：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="number" name="limit_value" step="0.01" class="input-text" value="{$re['limit_value']}" placeholder="" id="limit_value" />
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>优惠卷数量：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="number" name="balance" class="input-text" value="{$re['balance']}" placeholder="" id="balance" />
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">状态：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="radio-box">
                    <input name="status" type="radio" value="2" checked >
                    <label>上架</label>
                </div>
                <div class="radio-box">
                    <input name="status" type="radio" value="1" {$re['status']== 1 ? 'checked' : ''}>
                    <label>下架</label>
                </div>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">优惠卷有效期(未设置永久有效)</label>
            <!-- <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="layui-input" id="test10" placeholder="-" name="date" value="{$re.date}">
            </div> -->
            <div class="formControls col-xs-8 col-sm-9">
    
                <input type="text" class="input-text "  id="start_time" style="width:190px" name="start_time" value="{$re['start_time']}"  placeholder="开始时间" readonly> ——
                <input type="text" class="input-text "  id="end_time" style="width:190px" name="end_time" value="{$re['end_time']}"  placeholder="结束时间" readonly>
            </div>
        </div>




        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button  class="submit btn btn-primary radius"  type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存并提交</button>
                <button onClick="removeIframe();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                <input type="hidden" class="input-text" value="{$re.coupon_id}" placeholder=""  name="id">
            </div>
        </div>
    </form>
</div>
<include file="Public:footer" />


<!-- <script src="__PUBLIC__/layui/lay/modules/laydate.js"></script> -->
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        var start = {
            elem: '#start_time',
            event: 'click', //触发事件
            format: 'YYYY-MM-DD hh:mm:ss', //日期格式
            istime: true, //是否开启时间选择
            isclear: true, //是否显示清空
            istoday: true, //是否显示今天
            issure: true, //是否显示确认
            festival: true,//是否显示节日
            min: '1900-01-01 00:00:00', //最小日期
            max: '2099-12-31 23:59:59', //最大日期
            choose: function(datas){
                $("#start_time").attr("value",datas);
                end.min = datas; //开始日选好后，重置结束日的最小日期
                end.start = datas //将结束日的初始值设定为开始日
            }
        };
        var end = {
            elem: '#end_time',
            event: 'click', //触发事件
            format: 'YYYY-MM-DD hh:mm:ss', //日期格式
            istime: true, //是否开启时间选择
            isclear: true, //是否显示清空
            istoday: true, //是否显示今天
            issure: true, //是否显示确认
            festival: true,//是否显示节日
            min: '1900-01-01 00:00:00', //最小日期
            max: '2099-12-31 23:59:59', //最大日期
            choose: function(datas){
                $("#end_time").attr("value",datas);
                start.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };
        document.getElementById('start_time').onclick = function(){
            start.elem = this;
            laydate(start);
        }
        document.getElementById('end_time').onclick = function(){
            end.elem = this
            laydate(end);
        }
    });
        

</script>



